header {
    .header-hero {
        min-height: 80vh;
        &::before {
            content: '';
            z-index: 11;
            // opacity: .75;
            @apply absolute top-0 left-0 w-full h-full bg-gradient-to-b from-white via-light-white;
        }
    }
    .navigation {
        @apply absolute top-0 left-0 z-20 w-full py-5 duration-300 bg-transparent;
        &.sticky {
            @apply fixed py-4 bg-white shadow;
        }
    }
}

