.navbar-brand {
    aspect-ratio: 300/105;
}

.navbar-nav {
    .nav-item {
        >a {
            @apply relative inline-block px-8 py-2 font-bold text-gray-900 uppercase duration-200 text-left lg:text-center cursor-pointer md:text-xs xl:text-base;

            ~ul {
                @apply w-max max-h-0 md:absolute overflow-hidden transition md:px-0 px-8;

                a {
                    @apply text-left;
                }

                &:hover {
                    @apply max-h-max;
                }
            }

            &:hover~ul {
                @apply max-h-max;
            }
        }


        >span {
            @apply relative inline-block ps-8 py-2 font-bold text-gray-900 uppercase duration-200 text-left md:text-xs xl:text-base;
        }

        &.active,
        &:hover {
            >a {
                @apply text-tertary-900;
            }
        }
    }
}

.navbar-collapse.show {
    @apply block;
}

.toggler-icon {
    @apply relative block duration-200 bg-gray-700;
    height: 2px;
    width: 30px;
    margin: 6px 0;
}

.active>.toggler-icon:nth-child(1) {
    @apply transform rotate-45;
    top: 7px;
}

.active>.toggler-icon:nth-child(2) {
    @apply opacity-0;
}

.active>.toggler-icon:nth-child(3) {
    top: -8px;
    transform: rotate(135deg);
}