@tailwind base;
@tailwind components;
@tailwind utilities;

@import './buttons';
@import './carousel';
@import './footer';
@import './forms';
@import './header';
@import './navbar';
@import './pages';

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-sans), sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--font-roboto), sans-serif;
    // @apply text-gray-900;
}

h1, h3 {
    @apply mb-4 text-4xl lg:text-5xl font-medium text-primary-600;
}

h2, h4 {
    @apply text-2xl lg:text-3xl text-tertary-900 font-medium mb-4;
}

h5 {
    @apply text-xl text-tertary-900 font-bold mb-2;
}

.handwrite {
    font-family: var(--font-amatic), sans-serif;
}

p {
    @apply text-gray-700;
}

.list-check {
    padding-left: 25px;
    li {
        padding-left: 10px;
        &::marker {
            content: '✔️';
        }
    }
}

.list-mark {
    padding-left: 25px;
    li {
        padding-left: 10px;
        &::marker {
            content: '❌';
        }
    }
}

.container {
    @apply px-5 mx-auto;
}

.row {
    @apply flex flex-wrap;
}

.back-to-top {
    @apply fixed bottom-0 right-0 z-20 flex items-center justify-center w-10 h-10 mb-4 mr-8 text-white duration-300 bg-primary-600 rounded opacity-0;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
    &:first-of-type {
        padding-top: 60px;
    }
}

section:first-child {
    font: optional;
}
